@import '../../styles/variables';

/**
 Use :host to apply some style to your entire component
 */
:host {
  color: $white;
}

.header {
  background: $linearGradient;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  display: inline-block;
}

.imagePoly {
  width: 6%;
  float: right;
}

.imagePoly2 {
  width: 20%;
  float: left;
}

.navbar {
  font-weight: bold;
  font-size: 25px;
}

ul {
  display: table;
  margin: auto;
  transform: translate(-20%, 0%);

}

ul li {
  display: table-cell;
  padding: 15px 15px;
}

ul li :hover {
  border-bottom: 2px solid white;
  text-decoration: none;
}
