<div class="header">
  <img class="imagePoly2" src="../../assets/images/polytech.png">
  <img class="imagePoly" src="../../assets/images/logov1.png">
  <nav class="navbar">
    <ul class="nav" routerLinkActive="active">
      <li class="nav-item"><a (click)="goHome()" class="nav-link">Accueil</a></li>
      <li class="nav-item"><a (click)="goResearch()" class="nav-link">Recherche</a></li>
      <li class="nav-item"><a (click)="goUniversities()" class="nav-link">Universités</a></li>
      <li class="nav-item"><a (click)="goExchange()" class="nav-link">Programmes d'échange</a></li>
      <li class="nav-item"><a (click)="goReviews()" class="nav-link">Avis</a></li>

    </ul>
  </nav>
</div>
