<div class="header">
  <img class="imagePoly2" src="../../assets/images/polytech.png">
  <img class="imagePoly" src="../../assets/images/logov1.png">
  <div *ngIf="loginService.isLogged" class="profil">
    <div class="profilPic">
      <img alt="Snow" src="../../../assets/images/user3.png">
    </div>
    <div class="profilDetails">
      <h3>{{loginService.getUser().firstName}} {{loginService.getUser().lastName}}</h3>
    </div>
  </div>
  <nav class="navbar">
    <ul *ngIf="loginService.isLogged" class="navConnected" routerLinkActive="active">
      <li class="nav-item"><a (click)="goHome()" class="nav-link">Accueil</a></li>
      <li class="nav-item"><a (click)="goResearch()" class="nav-link">Recherche</a></li>
      <li class="nav-item"><a (click)="goExchange()" class="nav-link">Programmes</a></li>
      <li class="nav-item"><a (click)="goReviewsResearch()" class="nav-link">Avis</a></li>
    </ul>
    <ul *ngIf="!loginService.isLogged" class="nav" routerLinkActive="active">
      <li class="nav-item"><a (click)="goHome()" class="nav-link">Accueil</a></li>
      <li class="nav-item"><a (click)="goResearch()" class="nav-link">Recherche</a></li>
      <li class="nav-item"><a (click)="goExchange()" class="nav-link">Programmes</a></li>
      <li class="nav-item"><a (click)="goReviewsResearch()" class="nav-link">Avis</a></li>
    </ul>
  </nav>
</div>

