<div class="footer">
  <footer class="footer-distributed">

    <div class="footer-left">
      <img class="footer-company-logo" src="../../assets/images/polytech.png">
      <p class="footer-company-name">PolyAbroad &copy; 2019</p>
    </div>


    <div class="footer-center">
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>930 Route des Colles</span> Biot, France</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>+33 (0) 4 92 15 40 38</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:support@company.com"> admission@polytech.unice.fr</a></p>
      </div>
    </div>

    <div class="footer-right">
      <p class="footer-company-about">
        <span>Polytech Nice Sophia</span>
        Inscrite au titre de grande école d’ingénieurs, habilitée par la commission des titres d'ingénieur (CTI), notre
        école est au centre d'une synergie Enseignement - Recherche - Industrie.

      </p>
      <br>
      <div class="angular-logo">
        <img class="footer-company-logo"
             src="../../assets/images/angular.png">
      </div>
    </div>

  </footer>
</div>
