:host-context(.white) .review-list {
  padding: 1%;
  margin: auto;
  width: 80%;

}

:host-context(.white) h1 {
  text-align: center;
  color: white;
}

.review-list {
  border-width: 2px;
  padding: 1%;
  width: 80%;
  margin: auto auto 5%;
}

h1 {
  text-align: center;
  color: black;
}

.ticket {
  padding: 0.5% 0;
}
