:host {
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 2px 2px 1px 2px;
}

h5 {
  margin: 1%;
  font-size: 2vh;
}
