img {
  display: block;
  margin: auto;
}

.img1 {
  //home2
  width: 40%;
}

.img2 {
  //erasmus
  width: 20%;
}

.img3 {
  //bci
  width: 20%;
}

.img4 {
  //isep
  width: 10%;
}

h1 {
  text-align: center;
}


p {
  font-size: 20px;
  width: 80%;
  margin: auto;
  line-height: 35px;
  color: black;
}

h2{
  color: darkblue;
  text-align: center;
}

a:visited{
  color: darkblue;
  text-align: center;
}

.content {
  margin-bottom: 5%;
}
