<div class="content" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <br>
  <br>
  <br>


  <h1>CATALOGUE DES PROGRAMMES D'ECHANGE</h1>
  <br>
  <br>
  <h2><a href="https://info.erasmusplus.fr/"> 1) ERASMUS</a></h2>

  <div class="img-container">
    <br>
    <img alt="erasmus" class="img2" src="../../assets/images/erasmus.png">
    <br>
    <p>
      Le nouveau programme Erasmus+ vise à soutenir des actions dans les domaines de l’enseignement, de
      la formation, de la jeunesse et du sport pour la période 2014-2020.
    </p>
    <p>
      Ce programme donne aux étudiants la possibilité de séjourner dans différents pays de l'Europe afin de renforcer leurs
      compétences et accroître leur employabilité.
    </p>
    <br>
    <br>
    <br>
    <br>

  </div>


  <h2><a href="http://www.bci-qc.ca/"> 2) BCI</a></h2>
  <div class="img-container">
    <img alt="bci" class="img3" src="../../assets/images/bci.png">
    <p>
      Ce programme permet à tous les étudiants inscrits à Polytech Nice-Sophia de poursuivre une partie de leurs
      études
      dans un établissement universitaire québécois, en majorité francophone.
    </p>
    <br>
    <br>
    <br>
    <br>
  </div>


  <h2><a href="https://www.isepstudyabroad.org/"> 3) ISEP</a></h2>
  <div class="img-container">
    <img alt="isep" class="img4" src="../../assets/images/isep.png">
    <br>
    <p>
      ISEP est un réseau qui regroupe plus de 300 Universités dans le monde entier, dont 150 aux États-Unis
      et 165 dans 55 Pays du globe.
    </p>
    <p>
      L'Université Nice Sophia Antipolis est membre de ce réseau depuis 1983.
      Le programme ISEP permet donc de réaliser aussi un séjour d’études dans certains établissements
      européens.
    </p>
    <p>
      Ce programme offre à un public diversifié d'étudiants l’opportunité de bénéficier d'une expérience de
      formation
      dans des Pays étrangers où les frais de scolarité sont plutôt élevés, à des tarifs compétitifs.
    </p>
    <p>De nombreux établissements européens sont adhérents de ce programme. A l’UNS c’est l'IAE qui gère les
      programmes
      ISEP pour le compte de l’université.
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
