img {
  display: block;
  margin: auto;
}

.img1 {
  //home2
  width: 40%;
}

.img2 {
  //erasmus
  width: 20%;
}

.img3 {
  //bci
  width: 20%;
}

.img4 {
  //crepuq
  width: 20%;
}

.img5 {
  //isep
  width: 10%;
}

h1 {
  text-align: center;
}

h2 {
  color: darkblue;
  text-align: center;
}

p {
  font-size: 20px;
  margin-left: 6%;
  margin-right: 8%;
  color: black;
}
