.img1 {
  //home2
  display: block;
  margin: auto;
  width: 40%;
}

.img2 {
  //erasmus
  display: block;
  margin: auto;
  width: 20%;
}

.img3 {
  //bci
  display: block;
  margin: auto;
  width: 20%;
}

.img4 {
  //crepuq
  display: block;
  margin: auto;
  width: 20%;
}

.img5 {
  //isep
  display: block;
  margin: auto;
  width: 10%;
}

h1 {
  text-align: center;
}

h2 {
  color: darkblue;
  text-align: center;
}

p {
  font-size: 20px;
  margin-left: 6%;
  margin-right: 8%;
  color: black;
}

button {
  color: royalblue;
  font-size: 15px;
  width: 12%;
}


.button-center {
  margin: auto;
}
