.content {
  text-align: center;
  padding-bottom: 3%;
  padding-top: 2%;
  margin: 5% 30%;
  border-width: 1px;
  border-color: #afd1d8;
  box-shadow: 1px 1px 1px 1px gray;
  background-color: white;
}

mat-form-field {
  width: 70%;
}

form {
  display: grid;
}

.colone {
  grid-column: 1;
  grid-row: 1;
}

.coltwo {
  grid-column: 1;
  grid-row: 1;
}


