<div align="center">
<h3>Créer un compte </h3>
<form>
  <label for="LastName">
    Prénom <br>
    <input class="input-custom" type="text" id="LastName">
  </label>
  <br>
  <label for="FirstName">
    Nom <br>
    <input class="input-custom" type="text" id="FirstName">
  </label>
  <br>
  <label for="email">
    email<br>
    <input class="input-email" type="email" id="email">
  </label>
  <br>
  <label for="mdp1">
    mot de passe <br>
    <input class="input-mdp" type="text" id="mdp1">
  </label>
  <br>
  <label for="mdp2">
    confirmez mot de passe <br>
    <input class="input-mdp" type="text" id="mdp2">
  </label>

  <br>
  <button type="submit" class="btn-custom" (click)="SaveCount">Enregistrer</button>
</form>
</div>

