<div class="content">
  <h3>Ajouter un Avis</h3>
  <form [formGroup]="reviewForm" class="ticket-form">
    <br>
    <br>
    <label for="universityId">Nom de l'université <br><br>
      <ng-select [formControlName]="'universityId'"
                 [items]="universities"
                 bindLabel="name"
                 bindValue="id"
                 class="select"
                 clearAllText="Clear"
                 groupBy="country"
                 id="universityId"
                 placeholder="Sélectionner l'université">
      </ng-select>
    </label>
    <br>
    <mat-form-field>
      <input [formControlName]="'email'" class="input-custom" matInput placeholder="email" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <textarea [formControlName]="'Description'" matInput placeholder="Laisser un commentaire"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input [formControlName]="'Rate'" class="input-custom" id="Rate" matInput max="5"
             placeholder="Note" type="number">
    </mat-form-field>
    <br>
    <br>
    <button (click)="addReview()" class="btn-custom" type="submit">Ajouter mon avis</button>

  </form>

</div>
