<div align="center">
  <h3>Ajouter un Avis</h3>
  <form [formGroup]="reviewForm" class="ticket-form">
    <label for="email">
      E-mail <br>
      <input [formControlName]="'email'" class="input-custom" id="email" type="text">
    </label>
    <br>

    <label for="Major">
      Education <br>
      <select [formControlName]="'Major'" id="Major">
        <option value="">--Veuillez choisir votre formation--</option>
        <option *ngFor="let major of MajorList" [value]="major">{{major}}</option>
      </select>
    </label>
    <br>
  <br>
  <label for ="University">
    Nom de l'Université <br>
    <input class="input-coustom" type="text" id="University">
  </label>
  <br>

    <label for="City">
      City <br>
      <input [formControlName]="'City'" class="input-custom" id="City" type="text">
    </label>
    <br>
    <label for="Country">
      Country <br>
      <input [formControlName]="'Country'" class="input-custom" id="Country" type="text">
    </label>
    <br>

    <label for="Description">
      Mon avis <br>
      <textarea [formControlName]="'Description'" cols="33" id="Description" name="story" rows="5">

</textarea>
    </label>
    <br>

    <button (click)="addReview()" class="btn-custom" type="submit">Ajouter mon avis</button>
  </form>


</div>
