@import '../../../styles/variables';

:host {
  padding: 5px;
}

.body {
  background: white;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  height: 7em;
}

.univ {
  float: left;
  width: 80%;
  display: grid;
}

.univname {
  margin-top: 2%;
  font-size: 4em;
  grid-column: 2;
  grid-row: 1;
}

.img {
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  height: 60%;
  grid-column: 1;
  grid-row: 1;
}

.details-container {
  text-align: center;
  float: right;
  width: 15%;
  height: 100%;
  display: grid;
  border-color: black;
  border-style: solid;
  border-width: 0px 0px 0px 2px;
}
