.body {
  height: 17em;
  width: 20em;
  background-color: white;
  border-width: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}


.review {
  margin: auto;
  text-align: center;
}

.reviewDesc {
  max-width: 150px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile {
  text-align: center;
}

.university {
  width: 55%;
  text-align: center;
}
