<mat-card (click)="reviewDetails()" class="body">
    <div class="profile">
      <i class="fas fa-user"></i>
      <h3>{{review.profile.firstName}} {{review.profile.lastName}} </h3>
      <p>{{review.profile.major}}</p>
    </div>
    <div class="university">
      <i class="fas fa-university"></i>
      <h3>{{review.university.name}}</h3>
      <p>{{review.university.city}}, {{review.university.country}}</p>
    </div>

    <div class="review">
      <h3><i class="fas fa-star"></i> &nbsp;{{review.Rate}} / 5</h3>
      <p [matTooltip]=review.Description class="reviewDesc">{{review.Description}}</p>
      <p>{{review.Date | date:"dd/MM/yy"}}</p>
    </div>
</mat-card>
