.card_review {
  background-color: white;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  display: grid;
  text-align: center;
}

.review {
  grid-row: 1;
  grid-column: 3;
  margin: auto;
}

.reviewDesc {
  max-width: 150px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile {
  grid-row: 1;
  margin: auto;
  grid-column: 1;
}

.university {
  grid-row: 1;
  margin: auto;
  grid-column: 2;
}
