<div class="card_review" (click)="reviewDetails()">

  <div class="profile">
    <h3><i class="fas fa-user"></i> &nbsp;{{review.profile.firstName}} {{review.profile.lastName}} </h3>
    <p>{{review.profile.major}}</p>
  </div>
  <div class="university">
    <h3><i class="fas fa-university"></i> &nbsp;{{review.university.name}}</h3>
    <p>{{review.university.country}}</p>
    <p>{{review.university.city}}</p>
  </div>

  <div class="review">
    <h3><i class="fas fa-star"></i> &nbsp;{{review.Rate}} / 5</h3>
    <p>{{review.Description}}</p>
    <p>{{review.Date | date:"dd/MM/yy"}}</p>
  </div>

</div>
