.content {
  text-align: center;
  padding-bottom: 7em;
  margin: 5em 15em;
  border-width: 1px;
  border-color: #afd1d8;
  box-shadow: 2px 2px 2px #74858c;
  background-color: lightblue;
}

.title {
  padding-top: 3em;
  padding-bottom: 2em;
}
