.body {
  margin: 5% 2%;
}

:host {
  margin-right: auto;
  display: block;
  background-color: #F4F5F5;
  //border-color: black;
  //border-style: solid;
  border-width: 1px 2px 2px 2px;
}

h4 {
  margin-top: 1%;
  margin-left: 15px;
}

.imgs-container {
  margin-left: 15%;
}

.imgs {
  margin-left: 50%;
}

.area i {
  font-size: 20px;
}

.area p {
  margin-left: 8%;
  font-size: 14px;
}

slideshow {
  height: 25em;
  display: block;
}
