<div class="body">
  <div class="area">
    <i class="fas fa-chevron-right"> CAMPUS</i>
    <p>{{university.campusDesc}}</p>
  </div>

  <slideshow [imageUrls]=university.campusImgs align="center"></slideshow>
  <br>
  <div class="area">
    <i class="fas fa-chevron-right">INSCRIPTIONS</i>
    <p>L'inscription pour effectuer un semestre d'échange se fait sur ce site :</p>
    <a href="http://unice.fr/polytechnice/fr/international/etudes-a-letranger/partir-a-letranger">cliquer ici </a>
  </div>
  <br>

  <div class="area">
    <i class="fas fa-chevron-right">CONTACTS</i>
    <p>{{university.contacts}}</p>
  </div>
  <br>

  <div class="area">
    <i class="fas fa-chevron-right">AVIS</i>
    <p (click)="goReviews()">Consulter les {{university.nbReviews}} avis</p>
  </div>
</div>
