.body {
  //background: $linearGradient;
  //background-color: white;
  //border-color: black;
  //border-style: solid;
  //border-width: 2px 2px 2px 2px;
  margin-top: 5%;
  height: 22em;
}

:host {
  margin-right: auto;
  margin-top: 0%;
  display: block;
  width: 80%;
}

h4 {
  margin-top: 1%;
  margin-left: 15px;
}

.imgs-container {
  margin-left: 15%;
}

.imgs {
  margin-left: 50%;
}

.area i{
  font-size: 30px;
}

.area p{
  margin-left: 8%;
  font-size: 14px;
}

