<div class="body">
  <div class="area">
    <i class="fas fa-chevron-right"> CAMPUS</i>
    <p>{{university.campusDesc}}</p>
  </div>

  <slideshow [imageUrls]=university.campusImgs align="center"></slideshow>
  <br>
  <div class="area">
    <i class="fas fa-chevron-right">COURS PROPOSÉS</i>
    <p>Les cours proposés par l'université selon les semestres se trouvent sur leur site :
      <a href="{{university.link}}" target="_blank"> cliquez ici </a>
    </p>
  </div>
  <br>

  <div class="area">
    <i class="fas fa-chevron-right">CONTACTS</i>
    <ng-container *ngFor="let contacts of university.contacts">
      <p>{{contacts}}</p>
    </ng-container>

  </div>
  <br>

  <div class="area">
    <i class="fas fa-chevron-right">AVIS</i>
    <p (click)="goReviews()">Consulter le(s) {{university.nbReviews}} avis</p>
  </div>
</div>
