<mat-card class="cardProfil">
  <ng-container *ngIf="(reviewService.reviewViewed$ | async) as review">
  <mat-card-header>
    <div mat-card-avatar class="imageProfil">
      <img src="../../../assets/images/u1.png" alt="Snow">
    </div>
    <p> {{review.profile.lastName}} {{review.profile.firstName}}</p>
    <mat-card-subtitle>{{review.profile.username}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
    <div class="PapaDiv">
    <div class="Div1">
      <img src="../../../assets/images/email.png" alt="Snow">
      <p> {{ review.email }}</p>
    </div>
    <div class="Div2">
      <img src="../../../assets/images/messenger.png" alt="Snow">
    </div>
    <div class="Div3">
      <img src="../../../assets/images/twitter.png" alt="Snow">
    </div>
    </div>
  </mat-card-actions>

  </ng-container>
</mat-card>
