

  <mat-card class="cardProfil">
    <ng-container *ngIf="(reviewService.reviewViewed$ | async) as review">
      <div class="head">
      <mat-card-header>
        <div mat-card-avatar class="imageProfil">
          <img class="imageProfil" src="../../../assets/images/profil2.jpg" alt="Snow">
        </div>
        <p> {{review.profile.lastName}} {{review.profile.firstName}}</p>
        <mat-card-subtitle>{{review.profile.username}}</mat-card-subtitle>
        <img class="epingles" src="../../../assets/images/epingle.png" alt="Snow">
      </mat-card-header>
      </div>
      <hr class="bar" size=2 width=100% align=center color="" >
      <mat-card-actions>
        <div class="PapaDiv">
          <div class="Div1">
            <img class="text" src="../../../assets/images/email.png" alt="Snow">
            <p> {{ review.email }}</p>
          </div>
          <div class="Div1">
            <img class="text" src="../../../assets/images/messenger.png" alt="Snow">
            <p> {{ review.email }}</p>
          </div>
          <div class="Div1">
            <img class="text" src="../../../assets/images/twitter.png" alt="Snow">
            <p> {{ review.email }}</p>
          </div>

          <div class="Div1">
            <img class="text" src="../../../assets/images/tel.png" alt="Snow">
            <p> {{ "0661357080" }}</p>
          </div>
        </div>
      </mat-card-actions>

    </ng-container>
  </mat-card>
