:host {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  display: block;
  width: 90%;
}

.content {

}

.header {

}

.description {
  float: left;
  width: 55%;
}

.infos {
  float: left;
  width: 55%;
}

.map {
  float: right;
  width: 35%;
  height: 400px;
  position:fixed;
  right: 5%;
}
