<div class="body">
  <ng-container *ngIf="(universityService.universityViewed$ | async) as university">
    <app-university-header [university]="university"></app-university-header>
    <div class="content">
      <app-university-description class="description" [university]="university"></app-university-description>
      <app-university-infos class="infos" [university]="university"></app-university-infos>
      <app-university-map class="map" [university]="university"></app-university-map>
    </div>

  </ng-container>
</div>


