:host {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  display: block;
  width: 90%;
}

.content {
  display: grid;
}

.header {
  grid-column: 1;
  grid-row: 1;
}

.description {
  grid-column: 1;
  grid-row: 2;
}

.infos {
  grid-column: 1;
  grid-row: 3;
}

.map {
  grid-column: 2;
  grid-row: 2;
}
