<div class="body">
  <br>
  <div class="left">
    <h3>Bienvenue sur PolyAbroad !</h3>
    <p>&emsp;Nous coopérons avec plusieurs universités étrangères. Les élèves-ingénieurs peuvent participer à des
      programmes d'échanges en Europe, aux Etats-Unis, au Canada, en Chine et dans plusieurs autres pays.
      <br>&emsp;En Europe, nous avons des accords avec près de 200 universités dans 25 pays. Nous accueillons chaque
      année environ près de 300 étudiants de nationalité étrangère.</p><br>
    <h3>Notre sélection</h3>
    <ul class="selection">
      <li class="li" (click)="goTop5()">Top 5 des universités</li>
    </ul>
  </div>
  <div class="right">
    <div class="review">
      <h3>Ajouter un avis</h3>
      <button (click)="goReviewForm()" mat-raised-button>Go !</button>
    </div>
    <br>
    <div (click)="goLastReviewList()" class="last-reviews">
      <app-last-review-list class="white"></app-last-review-list>
    </div>
  </div>
</div>
