.body {
  font-size: 30px;
  background-size: cover;
  background-image: url(../../assets/images/homev2.jpg);
  height: 90vh;
  display: grid;
}

.review {
  padding-top: 1%;
  padding-bottom: 2%;
  color: white;
  width: 40%;
  margin: auto;
  grid-row: 1;
  grid-column: 1;
  text-align: center;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  background: rgba(0, 0, 0, .6);
}

.last-reviews {
  width: 60%;
  font-size: 15px;
  margin: auto;
  padding: 2%;
  grid-row: 1;
  grid-column: 2;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  background: rgba(0, 0, 0, .6);
}

